extends layout
block content

    section.probootstrap-section
      .container
        .probootstrap-section-heading.text-center.mb50.probootstrap-animate
          h4.sub-heading Welcome to Athlone Kids Camps
          h2.heading Add Your Camps Here!!
          a(href='../products') Back to Camps
     .formHold
       h1.itemtitle
             form(method="post")
               fieldset 
                 label(for="name") Camp Name:
                 input(name="name", type="text", required, placeholder="Enter a Camp Name")
                 label(for="category") Category:
                 input(name="category", type="text", required, placeholder="Enter a Category for this Camp")
                 label(for="price") Price:
                 input(name="price", type="number", required, placeholder="Enter a Price for this Camp")
                 label(for="location") Location:
                 input(name="location", type="text", required, placeholder="Enter a Location for this Camp")
                 label(for="website") Website:
                 input(name="website", type="text", required, placeholder="Enter a Website for this Camp")
                 label(for="image") Camp Image:
                 input(name="image", type="text", required, placeholder="Image for Camp")
                 button.btn.btn-primary.btn-sm(type="submit") Add a New Camp
                 
