<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Athlone Kids Camps</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="css/styles-merged.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <!-- START: header -->
  
  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="/" class="probootstrap-logo">Athlone Kids Camps<span>.</span></a>
        
        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/gallery.html">Gallery</a></li>
            <li><a href="/contact.html">Contact</a></li>
			      <li><a href="/form.html">Sign In/Sign Up</a></li>
          </ul>
          <div class="extra-text visible-xs"> 
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
            <h5>Connect</h5>
            <ul class="social-buttons">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </nav>
    </div>
  </header>
  <!-- END: header -->
  <section class="probootstrap-slider flexslider">
    <div class="probootstrap-text-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="probootstrap-slider-text text-center">
              <h1 class="probootstrap-heading probootstrap-animate mb20" data-animate-effect="fadeIn">100% Fun</h1>
              <div class="probootstrap-animate probootstrap-sub-wrap mb30" data-animate-effect="fadeIn">Your comprehensive Guide to your Local Kids Camps</div>
              <p class="probootstrap-animate" data-animate-effect="fadeIn"><a href="#" class="btn btn-ghost btn-ghost-white">Be in the know!</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url(/slider_1.jpg);"></li>
      <li style="background-image: url(/slider_2.jpg);"></li>
    </ul>
  </section>
  <!-- END: slider  -->
  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn">
          <div class="product-item">
            <figure><img src="/img_1.jpeg" alt="Free Template by uicookies.com" class="img-responsive"></figure>
            <div class="text">
              <h2 class="heading">Athlone Summer Camps</h2>
              <p>If you haven't already started to check out summer camps for your kids, then now is the time to get your skates on!</p>
              <p><a href="#" class="btn btn-primary btn-sm">View Details</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn">
          <div class="product-item">
            <figure><img src="/img_2.jpg" alt="Free Template by uicookies.com" class="img-responsive"></figure>
            <div class="text">
              <h2 class="heading">Kids Camps suitable for all ages</h2>
              <p>We know that it can be very frustrating to find a suitable camp for your little loved ones...</p>
              <p><a href="#" class="btn btn-primary btn-sm">View Details</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn">
          <div class="product-item">
            <figure><img src="/img_3.jpg" alt="Free Template by uicookies.com" class="img-responsive"></figure>
            <div class="text">
              <h2 class="heading">Variety of Camps to cater for all</h2>
              <p>Especially one that manages that magical combination of being suitable for your child and not too far away...</p>
              <p><a href="#" class="btn btn-primary btn-sm">View Details</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn">
          <div class="product-item">
            <figure><img src="/img_4.jpeg" alt="Free Template by uicookies.com" class="img-responsive"></figure>
            <div class="text">
              <h2 class="heading">Your local Kids Camps</h2>
              <p>So we've done the research for you and we've put together a selection of local Kids Camps around Athlone!</p>
              <p><a href="#" class="btn btn-primary btn-sm">View Details</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn">
          <div class="product-item">
            <figure><img src="/img_5.jpeg" alt="Free Template by uicookies.com" class="img-responsive"></figure>
            <div class="text">
              <h2 class="heading">100% Fun Guaranteed!</h2>
              <p>Do not miss out on the most popular Kids Camps in your area. Be the first to book your kids into their favourite camp.</p>
              <p><a href="#" class="btn btn-primary btn-sm">View Details</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate" data-animate-effect="fadeIn">
          <div class="product-item">
            <figure><img src="/img_6.jpg" alt="Free Template by uicookies.com" class="img-responsive"></figure>
            <div class="text">
              <h2 class="heading">And lots lots more!!</h2>
              <p>Sign up for our free Newsletter stuffed full of ideas and Be in the know! PS: Did we mention it's Free?!</p>
              <p><a href="#" class="btn btn-primary btn-sm">View Details</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
      </div>
    </div>
  </section>  

  <section class="probootstrap-section probootstrap-bg" style="background-image: url(/slider_2.jpg);">
    <div class="container text-center">
      <h2 class="heading probootstrap-animate" data-animate-effect="fadeIn">Athlone Kids Camps - For all your Local Kids Camps!</h2>
      <p class="sub-heading probootstrap-animate" data-animate-effect="fadeIn">Your comprehensive guide to the best and most popular Kids Camps in and around your local Athlone area!</p>
    </div>
  </section>

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-bike"></i></div>
            <h2 class="heading">Multi-Activity Camps</h2>
            <p>Multi-Activity camps provide "taster" or introductory sessions (about 4 -6 a day) in a range of different activities.</p>
            <p>Activities such as sports, adventure, creative and performing arts are sampled for the enjoyment of each participant.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-hand"></i></div>
            <h2 class="heading">Sports Camps</h2>
            <p>The sports camps are usually single activity sports camps led by qualified Instructors / Coaches / Associations.</p>
            <p>Sports camps include Athletics, GAA, Soccer and more. Examples: FAI Soccer Camp, Kellogg's GAA Cul Camps etc.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-tree"></i></div>
            <h2 class="heading">Performance Arts Camps</h2>
            <p>Performance Arts Camps can include Drama, Singing, Dancing and Music, or possibly a combination of all of these.</p>
            <p>Given by schools such as Athlone School of Music, Speech and Drama, Ballet and Modern and Irish Dancing schools.</p>
          </div>
        </div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-location"></i></div>
            <h2 class="heading">Computer and STEM Camps</h2>
            <p>Tech camps include all the trade tools for your budding tech rockstar to pick up valuable tech and STEM skills!</p>
            <p>Designed for children of all abilities and includes WeVideo, Soundtrap, Lego, BBC Micro Bit and more...</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-water"></i></div>
            <h2 class="heading">Outdoor Adventure Camps</h2>
            <p>Outdoor adventure camps are mostly run by specialist centres catering to specialist outdoor pursuits.</p>
            <p>Camps usually include a range of outdoor sports such as kayaking, sailing, rock climbing, abseiling etc...</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service">
            <div class="icon"><i class="icon-air"></i></div>
            <h2 class="heading">Teen Camps</h2>
            <p>Teen camps help teenagers make the most of their interests to acquire great new skills of their choosing.</p>
            <p>Students leave with an increased sense of confidence they can use long after the Summer Camp has finished.</p>
          </div>
        </div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
      </div>
    </div>
  </section>

  <footer class="probootstrap-footer probootstrap-bg" style="background-image: url(/slider_3.jpg)">
    <div class="container">
      <div class="row mb60">
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">About Athlone Kids Camps</h4>
            <p>Find out more about your Local Kids Camps in Athlone: Summer Camps, Halloween Camps, Christmas Camps and Easter Camps!</p>
            <p><a href="/about.html">Read more...</a></p>
          </div> 
        </div>
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">Quick Links</h4>
            <ul class="stack-link">
              <li><a href="https://www.letsgo.ie/" target="_blank">Let's Go! Summer Camps</a></li>
              <li><a href="https://camps.fai.ie/summer-soccer-schools/" target="_blank">FAI Soccer Summer Schools</a></li>
              <li><a href="https://www.kelloggsculcamps.gaa.ie/" target="_blank">Kellogs GAA Cul Camps</a></li>
			  <li><a href="http://www.athlonersc.ie/activities-summer/" target="_blank">Athlone Regional Sports Centre</a></li>
			  <li><a href="http://www.aitsport.ie/kids-camps-ait-sport/" target="_blank">AIT Kids Camps</a></li>
			  <li><a href="https://sparkademy.ie/summer-camps-2018/" target="_blank">Sparkademy Summer Camps</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">Kids Camps</h4>
            <ul class="stack-link">
              <li><a href="#">Multi-Activity Camps</a></li>
              <li><a href="#">Sports Camps</a></li>
              <li><a href="#">Performance Arts Camps</a></li>
              <li><a href="#">Computer and STEM Camps</a></li>
              <li><a href="#">Outdoor Adventure Camps</a></li>
              <li><a href="#">Teen Camps</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">Subscribe</h4>
            <p>Sign up for our free Newsletter stuffed full of ideas of all the cool camps available and Be in the know!</p>
            <form action="#">
              <div class="form-field">
                <input type="text" class="form-control" placeholder="Enter your email">
                <button class="btn btn-subscribe"><i class="icon-arrow-long-right"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row copyright">
        <div class="col-md-6">
          <div class="probootstrap-footer-widget">
			<p>Developed by Athlone Kids Camps 2018</p>
            <!--<p>&copy; 2017 <a href="https://uicookies.com/">uiCookies:Green</a>. Designed by <a href="https://uicookies.com/">uicookies.com</a></p>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="probootstrap-footer-widget right">
            <ul class="probootstrap-footer-social">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>
  

  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>

  </body>
</html>
