extends layout
block content

    section.probootstrap-section
      .container
        .probootstrap-section-heading.text-center.mb50.probootstrap-animate
          h4.sub-heading Welcome to Athlone Kids Camps
          h2.heading LOCATION
          h3 #{location.name}
          a(href='../locations') Back to Locations
                           
